# Ignore node_modules
node_modules/

# Ignore source files and directories
src/
tests/
*.test.js

# Ignore local config files
*.config.js
headwind.config.json

# Ignore build files if you have any
dist/

# Ignore version control files
.git/
.gitignore

# Ignore logs and temporary files
*.log
.DS_Store
*.tmp
